{% extends 'base.html' %}

{% block head %}
<title>Shopping list</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center">Shopping list</h1>
    <table>
        <table>
                <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Units</th>
                        <th>Actions</th>
		</tr>





    {% if list_| length < 1 %}


	{% else %}



	    {% for item in list_ %}
		<tr>
      		<td>{{ item.name }}</td>
        	<td>{{ item.quantity }}</td>
        	<td>{{ item.units }}</td>
		<td>Update</td>
		</tr>
		<<!-- add delete and update here -->
	{% endfor %}
	
	{%endif%}
	
	    <div class="form">
        <form action=' ' method="POST">
			<tr>
				<td>
		{{ form.hidden_tag() }}
		{{ form.name }}
		{% if form.name.errors %}
        	    {% for error in form.name.errors %}
                	    <span>{{ error }}</span>
            	    {% endfor %}
                {% endif %}
				</td>
				<td>
		{{ form.quantity }}
                {% if form.quantity.errors %}
                    {% for error in form.quantity.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
		</td>
		<td>
		{{ form.units }}
                {% if form.units.errors %}
                    {% for error in form.units.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
		</td>
		<td>
		{{ form.submit }}
		</td> 
		</tr>
		</table>
		
        </form>
    </div>
</div>






{% endblock %}
