{% extends 'base.html' %}

{% block head %}
<title>Shopping list</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center">Shopping list</h1>
    {% if list_|length > 0 %}
	<table>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Units</th>
			<th>Actions</th>
		</tr>			
	    {% for item in list_ %}
		<tr>
      		<td>{{ list_.name }}</td>
        	<td>{{ list_.quantity }}</td>
        	<td>{{ list_.units }}</td>
		<td>Update</td>
		</tr>
		<<!-- add delete and update here -->
	{% endfor %}
	</table>
	
	
	{% else %}
	</p> you have not added any items, add some below <p>
	    <div class="form">
        <form action=' ' method="POST">
		{{ form.hidden_tag() }}
		{{ form.name.label }}
		{{ form.name }}
		{% if form.name.errors %}
        	    {% for error in form.name.errors %}
                	    <span>{{ error }}</span>
            	    {% endfor %}
                {% endif %}
		{{ form.quantity.label }}
		{{ form.quantity }}
                {% if form.quantity.errors %}
                    {% for error in form.quantity.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}		
		{{ form.units.label }}
		{{ form.units }}
                {% if form.units.errors %}
                    {% for error in form.units.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}		
		{{ form.submit }}

        </form>
    </div>
</div>

	{%endif%}





{% endblock %}
