{% extends 'base.html' %}

{% block head %}
<title>Shopping list</title>
{% endblock %}

{% block body %}

<div class="jumbotron text-center">
	<h1 style="text-align: center">{{ username }}'s shopping list</h1>
</div>	
<div>
            <table align="center">
		<thead>    
                <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Units</th>
                        <th scope="col">Actions</th>
		</tr>
		</thead>
 {% if list_| length < 1 %}
		    <p class="text-center">You have no items in your list, add some below. </p>

{% else %}
	{% for item in list_ %}
		<tbody>   
		<tr>
			
      		<td>{{ item.name }}</td>
        	<td>{{ item.quantity }}</td>
        	<td>{{ item.units }}</td>
		<td><a href ="/update/{{ item.id }}" > Update </br>
		<a href ="/delete/{{ item.id }}" > Delete
		
		
		</td>
		</tr>
		
	{% endfor %}
{%endif%}
	
	    <div class="form">
        <form action=' ' method="POST">
			<tr>
				<td>
		{{ form.hidden_tag() }}
		{{ form.name }}
		{% if form.name.errors %}
        	    {% for error in form.name.errors %}
                	    <span>{{ error }}</span>
            	    {% endfor %}
                {% endif %}
				</td>
				<td>
		{{ form.quantity }}
                {% if form.quantity.errors %}
                    {% for error in form.quantity.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
		</td>
		<td>
		{{ form.units }}
                {% if form.units.errors %}
                    {% for error in form.units.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
		</td>
		<td>
		{{ form.submit }}
		</td> 
		</tr>
		<t/body>
		</table>
		
        </form>
    </div>
</div>






{% endblock %}
