
{% extends "base.html" %}
{% block body %}
    <p1> Registration page </p1>
    <p>No account? Sign up</p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class='form_group'>
                {{ form.username.label }}
                {{ form.username }}
                                {% if form.username.errors %}
                    <div class='error'>
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
                {{ form.password.label }}
                {{ form.password}}
                            {% if form.password.errors %}
                    <div class='error'>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password}}
                        {% if form.confirm_password.errors %}
                    <div class='error'>
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
                    </div>
            </div>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}
