{% extends 'base.html' %}

{% block head %}
<title>Shopping list</title>
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h1>Update item</h1> </br>
	<h2>{{ item.name }} {{ item.quantity }} {{ item.units }} </h2>
</div>

<div class='form'>
	<form action="/update/{{item.id}}" method="POST">
	<table>
		<tr>
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
	    {% if form.name.errors %}
            	{% for error in form.name.errors %}
                	 <span>{{ error }}</span>
            	{% endfor %}
            {% endif %}
            {{ form.quantity.label }}
            {{ form.quantity }}
	     {% if form.name.errors %}
                {% for error in form.name.errors %}
                         <span>{{ error }}</span>
               	{% endfor %}
            {% endif %}
            {{ form.units.label }}
            {{ form.units}}
             {% if form.units.errors %}
                {% for error in form.units.errors %}
                         <span>{{ error }}</span>
                {% endfor %}
            {% endif %}	  
	     {{ form.submit }}
		</tr>
	</table>

{% endblock %}
